/* FONTS */

body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, sans-serif;
}

/* UTILITIES */

.subtitle {
    color: #7e7e7e;
    font-size: 1.2rem;
}

.hero {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.hero-col {
    height: 550px;
}

.hero-col img {
    width: 55%;
}

.gallery .gallery-card {
    border-radius: 15px;
    overflow: hidden;
}

.gallery .gallery-card img {
    max-width: 100%;
    display: block;
    border-radius: 15px;
}

/* BUTTONS */

.site-btn {
    border-radius: 30px;
    border: 0;
    padding: 10px 12px;
    vertical-align: middle;
}

.site-btn-primary {
    background-color: #2d64e6;
    color: #fff;
}

.site-btn-primary:hover {
    outline-offset: -5px;
    outline: 3px solid white;
}

.site-btn-orange {
    background-color: #cd3d0f;
    color: #fff;
}

.site-btn-orange:hover {
    outline-offset: -5px;
    outline: 3px solid white;
}

.site-btn-transp {
    background-color: rgba(255, 255, 255, .5);
    color: #107ad0;
}

.site-btn-transp:hover {
    outline-offset: -5px;
    outline: 3px solid #107ad0;
}

.site-btn-white {
    background-color: #fff;
    color: black;
}

.site-btn-white:hover {
    outline-offset: -5px;
    outline: 3px solid black;
}

.site-btn-dark {
    background-color: black;
    color: #fff;
}

.site-btn-dark:hover {
    outline-offset: -5px;
    outline: 3px solid white;
}

/* BACKGROUNDS */

.bg-grey {
    background-color: #bebcbb;
}

.bg-blue {
    background-color: #161c3b;
}

.bg-footer {
    background-color: #00439c;
}

/* HEADER */

body {
    padding-top: 110px;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.brand img {
    width: 80px;
}

.site-nav {
    background-color: #fff;
}

.site-menu .menu-item {
    font-weight: 400;
}

.site-nav .menu-link .fa-chevron-down {
    font-size: 0.5rem;
    vertical-align: middle;
    color: grey;
    margin-left: 3px;
}

.site-nav .menu-link:hover .fa-chevron-down {
    color: #107ad0;
}

.site-menu .menu-item .menu-link {
    color: black;
}

.site-menu .menu-item .menu-link:hover {
    color: #107ad0;
}

/* HERO */

.main-hero {
    background-image: url(../img/jumbo-bg.png);
}

/* MAIN GALLERY */

.main-gallery .gallery-card:hover {
    outline: 2px solid #107ad0;
    outline-offset: 5px;
}
/* PS5 SECTION */

.claim {
    color: #107ad0;
}

.presentation-card img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .presentation-card.list img {
        width: 70%;
    } 
}

.presentation-card.list:hover {
    border-bottom: 3px solid #107ad0;
    cursor: pointer;
}

/* SECOND HERO */

.second-hero {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* FEATURE SECTION */

.feature-logo img {
    max-width: 70%;
}

/* SOCIAL SECTION */

.social .social-container {
    max-width: 540px;
}

/* FOOTER */

footer {
    font-size: 14px;
}

footer .fa-playstation {
    font-size: 80px;
}

footer ul {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

footer .brand-sie img {
    width: 130px;
}