body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, sans-serif;
}

/* HEADER */

.brand img {
    width: 80px;
}

.site-menu .menu-item {
    font-weight: 400;
}

.site-nav .menu-link .fa-chevron-down {
    font-size: 0.5rem;
    vertical-align: middle;
    color: #a6a6a6;
}


.menu-cta .menu-item .user-area {
    font-size: 1.2rem;
}

