/* FONTS */

body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, sans-serif;
}

/* UTILITIES */

.subtitle {
    color: #7e7e7e;
    font-size: 1.2rem;
}

.hero {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.hero-col {
    height: 550px;
}

.hero-col img {
    width: 55%;
}

.gallery .gallery-card img {
    max-width: 100%;
    border-radius: 15px;
    display: block;
}

/* BUTTONS */

.site-btn {
    border-radius: 30px;
    border: 0;
}

.site-btn-orange {
    background-color: #cd3d0f;
}

/* BACKGROUNDS */

.bg-grey {
    background-color: #bebcbb;
}

.bg-blue {
    background-color: #161c3b;
}

.bg-footer {
    background-color: #00439c;
}

/* HEADER */

body {
    padding-top: 110px;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.brand {

}

.brand img {
    width: 80px;
}

.site-nav {
    background-color: #fff;
}

.site-menu .menu-item {
    font-weight: 400;
}

.site-nav .menu-link .fa-chevron-down {
    font-size: 0.5rem;
    vertical-align: middle;
    color: grey;
    margin-left: 3px;
}

/* HERO */

.main-hero {
    background-image: url(../img/jumbo-bg.png);
}

/* PS5 SECTION */

.claim {
    color: #107ad0;
}

.presentation-card img {
    max-width: 100%;
    display: block;
}

@media screen and (min-width: 768px) {
    .presentation-card.list img {
        width: 60%;
    } 
}

/* SECOND HERO */

.second-hero {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* FEATURE SECTION */

.feature-logo img {
    max-width: 70%;
}




